<!doctype html>
<html lang="en" ng-app="phonecatApp">

<head>
    <meta charset="utf-8">
    <title>Phonecat App</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="lib/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
</head>

<body ng-controller="PhoneListCtrl">

    <p>Hello {{name}}!</p>

    <ul>
        <li ng-repeat="phone in phones">
            {{phone.name}}
            <p>{{phone.snippet}}</p>
        </li>
    </ul>

    <p>Total number of phones: {{phones.length}}</p>

    <table width="100%" class="table">
        <tbody>
        <tr>
            <th>row number</th>
        </tr>
        </tbody>
        <tr ng-repeat="i in [0,1,2,3,4,5,6,7]">
            <td style="width: 15px;" ng-repeat="j in [0,1,2,3,4,5,6,7]">{{j+1}}</td>
        </tr>
    </table>
</body>

</html>
